.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-container h4 {
  margin: 0;
  margin-bottom: 5px;
}

.input-container input {
  border: none;
  border-radius: 3px;
  height: 30px;
  margin: 0;
  margin-bottom: 20px;
}